.board-header {
    text-align: center;
    border-bottom: 1px solid #EEE;
    padding-bottom: 10px;
}
.thread-post-img {
    float: left;
    margin: 0 15px 8px 0;
    overflow: auto;
}
.thread-title {
    font-size: 18px;
}
.post {
    display: inline-block;
    background-color: #d5e9e6;
    margin: 2px 0 0 20px;
    padding: 2px 20px 0 0;
    overflow: auto;
    border-radius: 5px;
}
.preview {
    margin: 0px;
    border: 1px solid grey;
}
.text {
    padding-left: 30px;
    margin-bottom: 10px;
}
.post-title {
    padding: 2px 0 10px 10px;
}
.footer {
    padding: 20px 0 10px 0;
}
.form-group.required .control-label:after {
  content:"*";
  color:red;
}
span.spoiler {
    background-color: grey;
    color: grey;
}
span.spoiler:hover {
    background-color: transparent;
    color: inherit;
}
div.grid-border .row {
    margin-top: 10px;
}
.markupPreview {
    display: none;
    padding: 5px;
    border: 1px dotted grey;
}
.highlight {
    background-color: deepskyblue;
}