{% extends '_base.html' %}

{% block title %}Board: {{ board.title }}{% endblock %}
{% block content %}
    {% for thread in page.object_list %}
    <div class="thread">
        {% include '_thread-op.html' %}

        <b>{{ thread.posts_count }} posts total. Showing {{ thread.latest_posts |length }} latest.
            <a href="{{ thread.get_absolute_url }}">Click</a> to view all.</b>

        {% for post in thread.latest_posts %}
            <br>
            {% include '_post.html' %}
        {% endfor %}

        <div class="clearfix"></div>
    </div>
        <hr>
    {% endfor %}


    <nav>
        <ul class="pagination">
            {% if not page.has_previous %}
            <li class="disabled">
                <span aria-hidden="true">&laquo;</span>
            </li>
            {% else %}
            <li>
            <a href="{% url 'board' slug=board.slug page=page.previous_page_number %}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
            </li>
            {% endif %}

            {% for i in page.paginator.page_range %}
            <li {% if page.number == i %}class="active"{% endif %}><a href="{% url 'board' slug=board.slug page=i %}">{{ i }}</a></li>
            {% endfor %}
            {% if not page.has_next %}
            <li class="disabled" >
                <span aria-hidden="true">&raquo;</span>
            </li>
            {% else %}
                <li>
                <a href="{% url 'board' slug=board.slug page=page.next_page_number %}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
                </li>
            </li>
            {% endif %}
        </ul>
    </nav>
    <h3>New thread</h3>
    <form id="form" class="form" method="POST" action="#form" enctype="multipart/form-data">{% csrf_token %}
        <div class="row">
            <div class="form-group col-xs-12">
                <label for="inputTitle" class="col-xs-1 control-label">Title</label>

                <div class="col-xs-5">
                    <input name="title" type="text" class="form-control" id="inputTitle" placeholder="Title"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-12">
                <label class="col-xs-1 control-label" for="inputName">Name</label>

                <div class="col-xs-2">
                    <input name="name" id="inputName" type="text" class="form-control" placeholder="Name"/>
                </div>
                <label class="col-xs-1 control-label" for="inputName">Email</label>

                <div class="col-xs-2">
                    <input name="email" id="inputName" type="text" class="form-control" placeholder="Email"/>
                </div>
            </div>
        </div>
        <div class="row">
  <div class="form-group {% if form.image.errors %}has-error{% endif %} required col-xs-12">
    <label for="exampleInputFile" class="col-xs-1 control-label">File</label>
      <div class="col-xs-6">
          <input name="image" type="file" required id="exampleInputFile">
          <p class="help-block">
              {% if form.image.errors %}
                {{ form.image.errors.0 }}
              {% else %}
                  Image or GIF allowed.
              {% endif %}
          </p>
      </div>
  </div>
    </div>
        <div class="row">
            <div class="form-group {% if form.raw_body.errors %}has-error{% endif %} required col-xs-12">
            <label for="inputBody" class="col-xs-1 control-label">Body</label>
                <div class="col-xs-6">
                    <textarea name="raw_body" class="form-control" rows="6" required></textarea>
                    {% if form.raw_body.errors %}
                        <p class="help-block">{{ form.raw_body.errors.0 }}</p>
                    {% endif %}
                        <p class="help-block">We use a <a target="_blank" href="{% url 'syntax' %}">custom markup</a>.
                        </p>
                        <div class="markupPreview"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-xs-offset-1 col-xs-4 g-recaptcha" data-sitekey="6LfXZgMTAAAAAPpxxIvNScWYY3d1IZU0qQWWF3n0"></div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary">Submit</button>
                <button type="submit" class="btn btn-default markupPreviewBtn">Preview markup result</button>
            </div>
        </div>

    </form>


    {% if is_moderator %}
        {% include '_moderator-form.html' %}
    {% endif %}
{% endblock content %}
